<ion-view title="Cardapio" id="page5">
  <ion-content padding="true" class="has-header">
    <div id="cardapio-markdown1" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:26px;">Cardapio IFOME</p>
    </div>
    <form id="cardapio-form1" class="list">
      <label class="item item-input" id="cardapio-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="">
      </label>
    </form>
    <ion-list id="cardapio-list3">
      <ion-item id="cardapio-list-item10">Pizzas</ion-item>
    </ion-list>
    <div>
      <img src="img/JNvQZc3LSDG7taplPAza_pizza.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="cardapio-list5">
      <ion-item class="balanced" id="cardapio-list-item14">Pizza Calabresa</ion-item>
      <ion-item class="balanced" id="cardapio-list-item15">Pizza Mussarela</ion-item>
      <ion-item class="balanced" id="cardapio-list-item16">Pizza Portuguesa</ion-item>
      <ion-item id="cardapio-list-item27">Comida Brasileira</ion-item>
    </ion-list>
    <div>
      <img src="img/wyUDxf3QJodWMHoNogLQ_download.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="cardapio-list6">
      <ion-item class="assertive" id="cardapio-list-item17">Feijoada</ion-item>
      <ion-item class="assertive" id="cardapio-list-item18">Acriano </ion-item>
      <ion-item class="assertive" id="cardapio-list-item19">Filé de Peixe Grelhado</ion-item>
    </ion-list>
    <ion-list id="cardapio-list10">
      <ion-item id="cardapio-list-item28">Churrasco</ion-item>
    </ion-list>
    <div>
      <img src="img/XTFH0QQSe6iTH5b9nQpT_churrasco.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="cardapio-list7">
      <ion-item id="cardapio-list-item23">Picanha</ion-item>
      <ion-item id="cardapio-list-item24">Maminha</ion-item>
      <ion-item id="cardapio-list-item25">Costela</ion-item>
    </ion-list>
    <a ui-sref="cloudTabDefaultPage()" id="cardapio-button1" class="button button-positive button-block">Home</a>
  </ion-content>
</ion-view>