<ion-view title="Perfil - IFOME" id="page6">
  <ion-content padding="true" class="has-header">
    <ion-list id="perfilIFOME-list8">
      <ion-item class="item-avatar" id="perfilIFOME-list-item26">
        <h2>Matheus </h2>
      </ion-item>
    </ion-list>
    <div id="perfilIFOME-markdown7" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Perfil - IFOME</p>
    </div>
    <form id="perfilIFOME-form3" class="list">
      <label class="item item-input" id="perfilIFOME-input5">
        <span class="input-label">Endereço:</span>
        <input type="text" placeholder="">
      </label>
      <div class="item item-body" id="perfilIFOME-list-item-container5">
        <div id="perfilIFOME-markdown10" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">NOME: Matheus</p>

          <p style="color:#000000;">EMAIL: matheusferreiraold</p>

          <p style="color:#000000;">FONE:68 99999-9898</p>

          <p style="color:#000000;">ENDEREÇO: Rua Barão Rio Branco</p>

          <p style="color:#000000;">Nº: 77</p>

          <p style="color:#000000;">CIDADE: Rio Branco</p>

          <p style="color:#000000;">ESTADO: Acre</p>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>